<div>
  <nav class="menu">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/cadastro/comprador">Cadastro Comprador</a>
      </li>
      <li>
        <a href="/cadastro/empresa">Cadastrar Empresa</a>
      </li>
      <li>
        <a href="/cadastro/endereco">Cadastrar Endereço</a>
      </li>
      <li>
        <a href="/cadastro/geral">Cadastro Geral</a>
      </li>
    </ul>
  </nav>
</div>