<div class="content-box">
  <h1>Cadastro de Empresa</h1>
  <form id="form_cadastro_empresa" class="form">
    <div>
      <label for="cnpj">CNPJ</label>
      <input id="cnpj" type="text" class="form-control rounded-form" type="text" value="33234252000138">
    </div>
    <div>
      <label for="nome">Nome da Empresa</label>
      <input type="text" name="nome" id="nome" class="form-control rounded-form" value="BLA BLU LTDA">
    </div>
    <div>
      <label for="logradouro">Endereço</label>
      <input type="text" name="logradouro" id="logradouro" class="form-control rounded-form" value="Rua Bla de Blu">
    </div>
    <div>
      <label for="numero">Nº</label>
      <input type="text" name="numero" id="numero" class="form-control rounded-form" value="8">
    </div>
    <div>
      <label for="complemento">Complemento</label>
      <input type="text" name="complemento" id="complemento" class="form-control rounded-form" value="Perto do Bla e longe do Blu">
    </div>
    <div>
      <label for="cep">CEP</label>
      <input type="text" name="cep" id="cep" class="form-control rounded-form" value="22713210">
    </div>
    <div>
      <label for="cidade">Cidade</label>
      <input type="text" name="cidade" id="cidade" class="form-control rounded-form" value="Rio de Janeiro">
    </div>
    <div>
      <label for="bairro">Bairro</label>
      <input type="text" name="bairro" id="bairro" class="form-control rounded-form" value="Taquara">
    </div>
    <div class="submit">
      <input type="submit" value="Cadastrar">
    </div>
    <div id="resultado" style="color:green;"></div>
  </form>
</div>