<div class="content-box">
  <h1>Banco de Dados - Norton Distribuidora</h1>
  <form id="form_cadastro_comprador" class="form">
    <div>
      <div size="full-width" left>
        <label for="nome_comprador">Nome Comprador</label>
        <input id="nome_comprador" class="form-control rounded-form" type="text" placeholder="Insira o Nome do Comprador" />
      </div>
    </div>
    <div>
      <div size="full-width" left>
        <label for="mail_comprador_contato">E-mail Contato Comprador</label>
        <input id="mail_comprador_contato" class="form-control rounded-form" type="text" placeholder="Insira o E-mail de Contato do Comprador" />
      </div>
    </div>
    <div>
      <div size="full-width" left>
        <label for="mail_comprador_faturamento">E-mail Faturamento</label>
        <input id="mail_comprador_faturamento" class="form-control rounded-form" type="text" placeholder="Insira o Nome do Comprador" />
      </div>
    </div>
    <div>
      <input type="submit" value="Cadastrar" />
    </div>
    <div class="content-inside-medium">
      <p id="resultCadastro" style="text-align: center;">

      </p>
    </div>
  </form>
</div>
<div class="content-box">
  <h2>Cadastros</h2>
  <div class="content-inside-medium">
    <div class="flex-col">
      <select name="comprador" id="comprador">
        <option value="loading">Loading...</option>
      </select>
      <div class="content-separate">
        <button class="btn" model="load" onclick="carregarComprador()">Carregar</button>
        <button class="btn" model="delete" onclick="deleteComprador()">Deletar</button>
      </div>
      <div class="content-inside-medium">
        <p id="resultCompradores" style="text-align: center;">

        </p>
      </div>
    </div>
  </div>
  <div class="content-inside-large">
    <table id="table_compradores">
      <tr>
        <td>Comprador</td>
        <td>E-mail</td>
        <td>E-mail Faturamento</td>
      </tr>
    </table>
  </div>
</div>
<%- include('../js/puxar_dados.ejs') %>