<div class="content-box">
  <form id="form-cadastro-enderecos" class="form">
    <div>
      <label for="logradouro">Logradouro</label>
      <input id="logradouro" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="numero">Número</label>
      <input id="numero" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="complemento">Complemento</label>
      <input id="complemento" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="cep">CEP</label>
      <input id="cep" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="cidade">Cidade</label>
      <input id="cidade" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="bairro">Bairro</label>
      <input id="bairro" type="text" class="form-control rounded-form" type="text">
    </div>
    <div>
      <label for="cnpj">CNPJ</label>
      <input style="border:2px solid rgb(185, 185, 185); letter-spacing: .05em;" id="cnpj" placeholder="00.000.000/000-00" maxlength="18" type="text" class="form-control rounded-form" type="text" required>
    </div>
    <div id="validacaoFormulario" style="text-align: center; display: block;">
    </div>
    <div class="submit">
      <input type="submit" value="Cadastrar">
    </div>
    <div class="resultado" style="color: black; text-align: center; display: block;"></div>
  </form>
</div>