* {
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 26, 103, 0.05);
}

h1,
h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-family: sans-serif;
}

.content-box {
	display: flex;
	flex-direction: column;
	margin: 15px auto 0 auto;
	width: 70%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	justify-content: center;
	gap: 15px;
	padding: 15px;
	margin-bottom: 25px;
}

.content-inside-large {
	display: block;
	width: 100%;
}

.content-inside-medium {
	width: 50%;
	margin: auto;
}

.content-separate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.btn {
	padding: 10px;
	border: none;
	font-weight: 600;
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	background-color: gray;
}

button[model='delete'] {
	color: #fff;
	background-color: rgb(255, 74, 74);
}

button[model='load'] {
	color: #fff;
	background-color: rgb(93, 204, 93);
}

select {
	width: 100%;
	height: 50px;
	padding-left: 15px;
}

table#table_compradores {
	width: 100%;
}

table,
th,
td {
	border: 1px solid;
}

td {
	padding: 5px;
}

.form {
	display: block;
	margin: auto;
	font-family: sans-serif;
	font-size: 1.2em;
	max-width: 600px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 15px 10px;
	text-align: center;
	background-color: #fff;
	/* box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.05); */
}

.form > div {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.form > div label {
	width: 200px;
	text-align: right;
	padding-right: 15px;
}

.form input {
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	width: 100%;
	font-size: 1em;
	color: rgba(0, 26, 103, 0.8);
}

.form > div > div input {
	width: 100%;
}

.form > div.submit input {
	width: 100%;
	background-color: rgba(0, 26, 103, 0.8);
	color: #fff;
	font-weight: 900;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.form > div.submit input:hover {
	background-color: rgb(115, 194, 115);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #fff;
	font-weight: 900;
	cursor: pointer;
}

.form > div:last-of-type {
	display: block;
	text-align: center;
}

[left] {
	text-align: left;
}

[right] {
	text-align: right;
}

[size='full-width'] {
	width: 100% !important;
}

[size='semi-width'] {
	width: 90% !important;
}

[size='20'] {
	width: 20% !important;
}

[size='30'] {
	width: 30% !important;
}

[size='70'] {
	width: 70% !important;
}

[size='80'] {
	width: 80% !important;
}
